html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
}

.meaning {
    background-color: #eee;
}
.example {
    display: block;
    background-color: #ccc;
}

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: inside decimal;
}
li.partOfSpeech {
    list-style: none;
    font-weight: bold;
    margin: 1rem 0;
}